.table-container{
    background-color: #f6f5f5;
    padding: .5em;
    border-radius: 1em;
    text-align: center;
}
.table-name{
    padding-bottom: .2em;
}
.table{
    /* border: 1px solid black; */
    text-align: left;
    margin-top: 0.5em
}
.ant-drawer-content-wrapper{
    width: 60% !important;
}
table {
    border-collapse: collapse;
    width: 100%;
  }

  th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
   
  }

  th {
    background-color: #f2f2f2;
  }